<div class=header>

  <ion-button class="btnBack" (click)= navigate()>
    <ion-icon name="ios-arrow-back"></ion-icon>
  </ion-button>

<img class=logo src= "assets/logowhite.png">

</div>

<div class=codigo>
    
    <div id="form">
        <ion-input maxlength ='1' #one id="one" type="number" class="verification-code" placeholder="&bull;" maxLength="1" size="1" min="0" max="9"
         (onkeyup)="gotoNextfield(two)"></ion-input>
        <ion-input maxlength ='1' #two id="two" type="number" class="verification-code" placeholder="&bull;" maxLength="1" size="1" min="0" max=“9”
        (onkeyup)="gotoNextfield(three)"></ion-input>
        <ion-input maxlength ='1' #three id="three" type=“number” class="verification-code" placeholder="&bull;" maxLength="1" size="1" min="0" max=“9”
        (onkeyup)="gotoNextfield(four)"></ion-input>
        <ion-input maxlength ='1' #four id="four" type=“number” class="verification-code" placeholder="&bull;" maxLength="1" size="1" min="0" max=“9”
        (onkeyup)="add(this)"></ion-input>
      </div>

      <ion-button margin=20px expand="block" (click)= reSendCode()>Reenviar</ion-button>
      <ion-button margin=20px expand="block" (click)= navigateFoward()>Verificar</ion-button>

</div>
