<div class=header>

  <ion-button class="btnBack" (click)= navigate()>
    <ion-icon name="ios-arrow-back"></ion-icon>
  </ion-button>

<img class=logo src= "assets/logowhite.png">

</div>

<div class=codigo>
    
    <div id="form">
        <ion-input maxlength = "1" id="one" #one  type="tel"  pattern = "regularExp" class="verification-code" placeholder="&bull;"  size="1" min="0" max="9"
        (keyup) = "gotoNextField(two)"  ></ion-input>
        <ion-input maxlength = "1"  id="two" #two type="tel" class="verification-code" placeholder="&bull;"  size="1" min="0" max="9"
        (keyup)="gotoNextField(three)"></ion-input>
        <ion-input maxlength = "1"  id="three" #three type="tel" class="verification-code" placeholder="&bull;"  size="1" min="0" max=“9”
        (keyup)="gotoNextField(four)"></ion-input>
        <ion-input maxlength = "1"  id="four" #four type="tel" class="verification-code" placeholder="&bull;"  size="1" min="0" max="9"
        ></ion-input>
      </div>

      <ion-button margin=20px expand="block" (click)= reSendCode()>Reenviar</ion-button>
      <ion-button margin=20px expand="block" (click)= navigateFoward()>Verificar</ion-button>

</div>
