.label-input {
    margin-left: 5px;
    font-weight: 300;
    font-size: 12px;
   }

.add-towing-card {
    box-shadow: none;
   }

.name {
 border: 1px solid gray;
 border-radius: 10px;
}

.addbutton{
    width: auto;
    height: 100px;
    background: #6561AB;
    margin: 0;
    
}

.arrow-btn{
    margin-top: 30px !important;
}
