<ion-header>
  <ion-toolbar style="background:transparent;">
    <ion-button (click)=navigateBack() fill=clear style="color:black;"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-card style='box-shadow: none; height: 350px; margin-top: 40px;'>
  
    <button (click)='openCamera()' style="padding: 0; background-color: orange; position: absolute; height: 300px; width: 100%;">
      <ion-img class="picture-camera" *ngIf= "picture == null" src="assets/camera.svg"></ion-img>
      <ion-img *ngIf= "picture != null" src={{picture}}></ion-img>
    </button>
 
</ion-card>


<h1 style="margin-top: 10px;text-align: center; font-weight: lighter;">Sube una foto de lo ocurrido</h1>
<ion-button (click)='isPhotoSaved()' class='center' style='width:200px; margin-top: 10px;' expand=block>Cotizar</ion-button>
</ion-content>