

<ion-grid class="grid">
  <ion-row>
    <ion-col>
      <ion-button class="boton" (click)=shareFacebook()>
        <ion-img class="social-icon" src="assets/facebook.png"></ion-img>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="boton" (click)=shareInstagram()>
        <ion-img class="social-icon" src="assets/instagram.png"></ion-img>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="boton" (click)=shareWhatsapp()>
        <ion-img class="social-icon" src="assets/whatapps.png"></ion-img>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

