<ion-header no-border>
    <ion-toolbar style="--background:#6561AB;">
      <ion-button class="arrow-btn" fill=clear style="color:white;" (click)="navigateBack()"><ion-icon name=md-arrow-round-back></ion-icon></ion-button>
      <ion-title class="pay-title" style="font-weight:300; color:white">COTIZACIONES</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="espacio">
    <ion-card *ngFor="let quot of quots"  >
      <ion-grid>
        <ion-row>
          <ion-col size="4">
              <h6 class="titulo">GRUERO:</h6> 
          </ion-col>
          <ion-col size="5">
              <h6 class="nombre">{{quot.driver.name}}</h6> 
          </ion-col>
          <ion-col size="3">
            <ion-button (click)= 'acceptQuote()' class="btn-aceptar">
                <ion-icon name="md-checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                <h6 class="titulo">PRECIO:</h6> 
            </ion-col>
            <ion-col size="5">
                <h6 class="precio">{{quot.price}}</h6> 
            </ion-col>
            <ion-col size="3">
              <ion-button (click)= 'removeCotizaciones(quot)' class="btn-declinar">
                    <ion-icon name="md-close-circle"></ion-icon>
                </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card>

  </div>
