<ion-header no-border>
        <ion-toolbar class='toolbar'>
                <!-- <ion-button class="btnBack" (click)= navigateBtn() fill=clear style="color:black;"><ion-icon style="color: white;" name=md-arrow-round-back></ion-icon></ion-button> -->
                <ion-title class= center style="font-weight:300;">Rating</ion-title>
         </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img class=profilepic src="assets/profile.svg"></ion-img>
    <ion-card class=card>
        <ion-card-content>

            <h1 class=center style="font-weight:200; color: black; font-size: 17px; margin: 10px; margin-top: 40px;"> Jane Doe </h1>
            <h1 class=center style="font-weight:200; color: black; margin: 10px; margin-top: 30px;"> ¿Cuál fue tu experiencia? </h1>
            <p style="text-align: center; font-weight:200; color: gray; font-size: 15px;">Tus sugerencias nos ayudará a ser mejores. ¡Esmérate!</p>
    
                <div class="center" style="width: 230px; margin-top: 30px; margin-bottom: 30px;">
                            <ion-buttons>
                                <ion-button [disabled]="readonly" fill="clear" [size]="size" *ngFor="let current of [1, 2, 3, 4, 5]; let i = index"
                                (mouseover)="hoverRate = i + 1" (mouseleave)="hoverRate = 0">
                                  <ion-icon slot="icon-only" name="star" [class.filled]="(i + 1 <= hoverRate || (!hoverRate && i + 1 <= rate))"></ion-icon>
                                </ion-button>
                              </ion-buttons>
                </div>

                <div class=text-input>
                    <ion-textarea [(ngModel)]='comentarios' class=input-text placeholder="Comentario"></ion-textarea>
                </div>

                <ion-button (click)= validateRating() expand=block class=boton-someter>SOMETER RESEÑA</ion-button>

        </ion-card-content>
    </ion-card>
</ion-content>



