

.select-button{
    margin: 20px;
}

.add-car {
    margin: 20px;
    margin-bottom: 20px;
}

.arrow-btn {
    margin-top: 40px;
}

.choose-car-title {
    margin-top: 20px;
}

.boton{
    background: transparent;
}

.active, .boton:hover {
    background-color: rgb(192, 192, 192);
    color: white;
  }

