 <div class=header>
      <ion-img class=img style="width: 50%;" src="assets/grua.svg"></ion-img>
      <div class=title>
      </div>
    </div>
    
  <ion-card padding class=card>
   
      <div class=precios>
        <!-- Precio del servicio -->
          <p style="font-size: 15px; margin-top: 5px; margin-bottom: 5px; padding: 0px; margin-left: 15px;">Servicio de enganche........$30.00</p>
           <!-- Distancia -->
          <p style="font-size: 15px; padding: 0px; margin-top: 0px; margin-left: 15px; margin-bottom: 0px;">Precio por Milla.............$3.00/milla</p>
           <!-- Pecio millas calculadas -->
          <p style="font-size: 15px; padding: 0px; margin-top: 0px; margin-left: 15px; margin-bottom: 0px;">Millas.......................................{{distancia}}mi</p>
           <!-- Tiempo estimado -->
          <p style="font-size: 15px; padding: 0px; margin-top: 0px; margin-left: 15px; margin-bottom: 0px;">Tiempo Estimado.................{{time}}</p>


         

          <p class=descr>Tiene un costo total de</p>
          <h4 class=total>${{total}}.00</h4>
          <!-- COSTO TOTAL GRUA -->
      </div>
  </ion-card>

  <div class="botones">
    <!-- Botones -->
    <button (click)='close()' style="margin-top: 30px; height: 50px; width:150px; background: rgb(252, 252, 252); color: rgb(211, 53, 53); font-size: 15px; border: solid 1px lightgray;">Cancelar</button>
    <button (click)='navigateFoward()' style="margin-top: 30px; height: 50px; width:150px; background: rgb(252, 252, 252); color: #4ce4b1; font-size: 15px; border: solid 1px lightgray;">Solicitar</button>
  </div>



