.fondo{

    background: url(../../assets/Groupbg.png) no-repeat;
    background-size: cover;
    
    height: 50%;
    }
    
    .card{
    
         background-color: white;
    }
    
    .cardContainer{
        position: absolute;
         left:0;
         right:0;
         margin-left: auto;
         margin-right: auto;
         margin-top: 230px;
    }
    
    .btnToggle {
        padding: 10px;
        font-size: 18px;
    }
    
    .logo{
     
        position: absolute;
         left:0;
         right:0;
         margin-left: auto;
         margin-right: auto;
         margin-top: 70px;
         height: 8%;
        
    }
    
    .text{
        position: absolute;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        
        padding: 10px;
        text-align: center;
    }
    
    .input{
        
        border-radius: 10px;
        border: 1px solid rgb(218,218,218);
        --padding-start: 5px;
        
    }

    .flag-img {
        margin-right: 3px;
        margin-left: 10px;
        width: 30px;
        height: 25px;
    }

    .olvido-pass{
        left: 0;
        right:0;
        margin-left: auto;
        margin-right:  auto;
        margin-top: 20px;
        text-align: center;
        --background: none;
        --background-activated: none;
        --color: rgb(141, 141, 141);
        --color-activated: rgb(204, 203, 203);
        font-size: 13px;
        height: 20px;
        --box-shadow: none;
    }

    